body {
  background: #eee;
}

.form-login {
  margin: 7em 0 0 0;
  background: #fff;
  padding: 1.2em !important;
}

.form-task {
  margin: 4em 0 0 0;
  background: #fff;
  padding: 1.2em !important;
}

.panel {
  margin: 2em 0 0 0;
  background: #fff;
  padding: 1.2em !important;
}
